<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="select" id="fceumm_aspect" values="8:7 PAR|4:3" default="8:7 PAR"/>
		<setting label="30002" type="select" id="fceumm_nospritelimit" values="disabled|enabled" default="disabled"/>
		<setting label="30003" type="select" id="fceumm_overclocking" values="disabled|2x" default="disabled"/>
		<setting label="30004" type="select" id="fceumm_overscan" values="enabled|disabled" default="enabled"/>
		<setting label="30005" type="select" id="fceumm_palette" values="asqrealc|loopy|quor|chris|matt|pasofami|crashman|mess|zaphod-cv|zaphod-smb|vs-drmar|vs-cv|vs-smb|nintendo-vc|yuv-v3|unsaturated-final|sony-cxa2025as-us|pal|bmf-final2|bmf-final3|nostalgia|nes-classic|nescap|raw" default="asqrealc"/>
	</category>
</settings>