<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="select" id="fceumm_aspect" values="8:7 PAR|4:3" default="8:7 PAR"/>
		<setting label="30002" type="select" id="fceumm_nospritelimit" values="disabled|enabled" default="disabled"/>
		<setting label="30003" type="select" id="fceumm_overclocking" values="disabled|2x" default="disabled"/>
		<setting label="30004" type="select" id="fceumm_overscan" values="enabled|disabled" default="enabled"/>
		<setting label="30005" type="select" id="fceumm_palette" values="asqrealc|loopy|quor|chris|matt|pasofami|crashman|mess|zaphod-cv|zaphod-smb|vs-drmar|vs-cv|vs-smb|nintendo-vc|yuv-v3|unsaturated-final|sony-cxa2025as-us|pal|bmf-final2|bmf-final3|composite-direct-fbx|pvm-style-d93-fbx|ntsc-hardware-fbx|nes-classic-fbx-fs|nescap|raw" default="asqrealc"/>
		<setting label="30006" type="select" id="fceumm_region" values="Auto|NTSC|PAL|Dendy" default="Auto"/>
		<setting label="30007" type="select" id="fceumm_turbo_delay" values="3|5|10|15|30|60|1|2" default="3"/>
		<setting label="30008" type="select" id="fceumm_turbo_enable" values="None|Player 1|Player 2|Both" default="None"/>
	</category>
</settings>
